@import 'image-resize';
@import 'titles';
@import 'form-fields';
@import 'buttons';
@import 'local-card';
@import 'places-slider';
@import 'local-item-card';
@import 'checkbox-field';
@import 'product-modal';


.cat-col{
    padding: 22px;
    position: sticky;
    top: 85px;
    .checkbox-field{
        &:last-child{
            border-bottom: 1px solid #ddd;
        }
    }
}

.local-items-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mib-select{
    // appearance: none;
    background: #fff;
    height: 46px;
    border: none;
    min-width: 200px;
    padding: 2px 12px;
    border-radius: 6px;
}


.locations-list{
    .location-item{
        border-top: 1px solid #ccc;
        padding: 15px 10px;
        &:last-child{
            border-bottom: 1px solid #ccc;
        }
        input{
            width: 30px;
            height: 30px;
            appearance: none;
            border: 1px solid #aaa;
            margin-right: 12px;
            &:checked{
                border: 8px solid $primary;
            }
        }
        label{
            cursor: pointer;
        }
        span{
            font-size: 14px;
            // color: #aaa;
        }
    }
}