.form_field {
  display: flex;
  flex-direction: column-reverse;
  label {
    font-size: 17px;
    position: relative;
  }
  svg{
    left: 12px;
    top: 12px;
  }
  input {
    height: 48px;
    border: 1px solid #aaa;
    border-radius: 10px;
    &::placeholder{
        color: #8E8E8E;
    }
    &:required {
      + label {
        display: flex;
        justify-content: space-between;
        &::after {
          content: "Requerido *";
          right: 0;
          font-size: 15px;
          font-weight: 400;
          color: #767676;
        }
      }
    }
  }
}
