.local-item-card.bg-white.p-3.rounded-4
  a.img-contain.border.d-flex.rounded-4(href='#')
    img.rounded-4(src='media/images/producto.webp' alt='Alimento gato salmon y cordero CHUNKY 1500 gr')
  p.fw-bold.mb-0 $27.900
  h2.mb-3(title='Alimento gato salmon y cordero CHUNKY 1500 gr')
    | Alimento gato salmon y cordero CHUNKY 1500 gr
  .center-all.add-group.rounded-4.position-relative.overflow-hidden
    button.mib-btn.add-btn.fw-semibold.w-100
      | A&ntilde;adir al pedido
    .center-all.item-counter.position-absolute.h-100
      button.minus.rounded-3
        svg.icon.icon-tabler.icon-tabler-minus(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
          path(stroke='none' d='M0 0h24v24H0z' fill='none')
          path(d='M5 12l14 0')
      input.border-0.rounded-3.text-center.w-100.h-100(type='text' number='' readonly='' value='01')
      button.plus.rounded-3
        svg.icon.icon-tabler.icon-tabler-plus(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
          path(stroke='none' d='M0 0h24v24H0z' fill='none')
          path(d='M12 5l0 14')
          path(d='M5 12l14 0')
