header {
  background: $primary;
  width: 100%;
  top: 0;
  z-index: 99;
  nav{
    .logo{
        height: 56px;
    }
  }

  .submenu-type{
    .submenu-container{
      padding: 20px 0;
      width: 250px;
      right: 0;
      top: 90%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
      .submenu-link{
        white-space: nowrap;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 18px;
        line-height: 1;
        &:hover{
          background: #EEEEEE;
        }
      }
    }
    &:hover{
      .submenu-container{
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  form{
    width: 100%;
    max-width: 560px;
    height: 50px;
    z-index: 1;
    input{
        left: 0;
        top: 0;
        z-index: -1;
    }
  }
}