.login {
  min-height: 100vh;
  &:after {
    content: "";
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: $primary;
  }
}

.login-form {
  padding: 40px;
  z-index: 10;
}

.login-poster-col {
  height: 100dvh;
}

.login-poster {
  height: 100%;
  left: -24px;
  top: 0;
  width: 45vw;
  padding: 40px;
  .logo {
    top: 45px;
    left: 40px;
    z-index: 2;
  }
  .bottom-img,
  .top-img {
    z-index: 1;

    &:before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0;
    }

    .img-fit {
      height: 100%;
     img{
      box-shadow: 0 0 8px rgba(34, 34, 34, 0.3);
     }

      &:after {
        width: 120px;
        animation: width-bg 0.4s 0.42s forwards;
        @keyframes width-bg {
          from {
            width: 120px;
          }
          to {
            width: 260px;
          }
        }
        content: "";
        position: absolute;
        top: -20px;
        height: calc(100% + 40px);
        padding: 18px;
        background: #fff;
        z-index: -1;
        border-radius: 18px;
      }
    }
  }
  .bottom-img {
    bottom: 20%;
    height: 30%;
    width: 400px;
    left: -140px;

    @keyframes corner_bottom_top {
      from {
        opacity: 0;
        border-bottom-left-radius: 0px;
      }
      to {
        opacity: 1;
        border-bottom-left-radius: 30px;
      }
    }

    @keyframes corner_bottom_bottom {
      from {
        opacity: 0;
        border-top-left-radius: 0px;
      }
      to {
        opacity: 1;
        border-top-left-radius: 30px;
      }
    }

    &:before,
    &:after {
      left: 180px;
    }
    &:before {
      animation: corner_bottom_top 0.3s 0.5s forwards;
      border-bottom-left-radius: 0px;
      box-shadow: -7px 7px 0 6px #fff;
      top: -50px;
    }
    &:after {
      animation: corner_bottom_bottom 0.3s 0.5s forwards;
      border-top-left-radius: 0px;
      box-shadow: -7px -7px 0 6px #fff;
      bottom: -50px;
    }
    .img-fit {
      animation: show_bottom_img 0.4s 0.4s forwards;
      transform: translateX(-180px);
      opacity: 0;
      @keyframes show_bottom_img {
        from {
          transform: translateX(-180px);
          opacity: 0;
        }
        to {
          transform: translateX(0px);
          opacity: 1;
        }
      }
      &:after {
        right: -20px;
      }
    }
  }
  .top-img {
    top: 20%;
    height: 26%;
    width: 330px;
    right: -55px;
    @keyframes corner_top_top {
      from {
        opacity: 0;
        border-bottom-right-radius: 0px;
      }
      to {
        opacity: 1;
        border-bottom-right-radius: 30px;
      }
    }

    @keyframes corner_top_bottom {
      from {
        opacity: 0;
        border-top-right-radius: 0px;
      }
      to {
        opacity: 1;
        border-top-right-radius: 30px;
      }
    }
    &:before {
      animation: corner_top_top 0.3s 0.5s forwards;
      right: 95px;
      border-bottom-right-radius: 0px;
      box-shadow: 7px 7px 0 6px #fff;
      top: -50px;
    }
    &:after {
      animation: corner_top_bottom 0.3s 0.5s forwards;
      right: 95px;
      border-top-right-radius: 0px;
      box-shadow: 7px -7px 0 6px #fff;
      bottom: -50px;
    }
    .img-fit {
      animation: show_top_img 0.4s 0.4s forwards;
      transform: translateX(100px);
      opacity: 0;
      @keyframes show_top_img {
        from {
          transform: translateX(100px);
          opacity: 0;
        }
        to {
          transform: translateX(0px);
          opacity: 1;
        }
      }
      &:after {
        left: -20px;
      }
    }
  }
}
